.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.text-aligin-left {
  text-align: left
}

@mixin mix-width($width) {
  width: $width
}

// 模态框
.ant-modal-content {
  width: 150%
}
