.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.text-aligin-left {
  text-align: left
}

@mixin mix-width($width) {
  width: $width
}

// 模态框
.ant-modal-content {
  width: 150%
}

.ant-table td { white-space: nowrap; }
.ant-modal-content /deep/ .ant-modal-body {
  overflow: auto;
  height: 500px;
}

.ant-table tr td {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap；;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center !important;
}
.ant-table tr th {
  text-align: center !important;
}
